<ion-header [translucent]="true">
    <ion-toolbar color="success"  >
        
         <ion-title>Mécanique / Réparation</ion-title>
         <ion-buttons slot="primary">
           <ion-button (click)="dismiss()" color="danger" fill="outline" color="light">
             Fermer
             <!--<ion-icon slot="end" name="create"></ion-icon>-->
           </ion-button>
         </ion-buttons>
       </ion-toolbar>
  </ion-header>
  <!--
  <ion-content [fullscreen]="true">
      


    <ion-card>
        <ion-item>
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Posté par Alassane L</ion-label>
          </ion-item>
      <ion-card-header>
        <ion-card-title>DESCRIPTION</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
      <ion-chip>
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>06/10/2020</ion-label>
        </ion-chip>
        <ion-chip>
            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Madagascar</ion-label>
          </ion-chip> 
          <ion-chip>
              <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <ion-label>Madagascar</ion-label>
            </ion-chip> 
    </ion-card>
    
    <ion-card>
        <ion-item>
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Vehicle Repair</ion-label>
          </ion-item>
        <ion-card-header>
            <ion-card-title>FAIRE UNE OFFRE</ion-card-title>
          </ion-card-header>
        <form (ngSubmit)="Submit()" [formGroup]="offreForm" #offreUserForm="ngForm">
        <ion-item>
            <ion-label position="floating">Vos gain</ion-label>
            <ion-input formControlName="gain" [(ngModel)]="OffreModel.gain"></ion-input>
          </ion-item>
        <ion-item>
          <ion-label position="floating">Commentez</ion-label>
          <ion-textarea formControlName="comment" [(ngModel)]="OffreModel.comment"></ion-textarea>
        </ion-item>
        <ion-button type="submit" [disabled]="!offreUserForm.form.valid" color="success" expand="full">MODIFIER</ion-button>
        </form>
      </ion-card>
  </ion-content>
-->